{% extends "tasks/base.html" %}

{% block title %}SuperTodo | {{ task.name }}{% endblock title %} 

{% block body %}
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title">{{ task.name }}</h1>
      <ul class="list-unstyled">
        <li><span class="fs-5"><strong>Created at:</strong> {{ task.created_at }}</span></li>
        <li><span class="fs-5"><strong>Updated at:</strong> {{ task.updated_at }}</span></li>
        <li><span class="fs-5"><strong>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
          </svg>
          Deadline:
          </strong> 
          {% if task.complete_before is None %}
          No deadline.
          {% else %} 
          {{ task.complete_before }}
          {% endif %}
        </span></li>
        <br>
        <li><span class="fs-4"><strong>Description:</strong>
          {% if task.description|length > 0 %}
          {{ task.description }}
          {% else %} 
          No description.
          {% endif %}
        </span></li>
        <br>
        <li><strong>Check Box:</strong> 
          {% if task.done %}
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
          </svg>
          <h6>Task completed</h6>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
          <h6>You need to work more</h6>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center mt-4">
    <a href="{% url 'tasks:task-list' %}">
      <button type="button" class="btn btn-outline-primary">Go back to Task List</button>
    </a>
  </div>
</div>
{% endblock body %}

