{% extends "tasks/base.html" %}

{% block title %}SuperTodo | Task list{%endblock title %} 


{% block nav%}

<div class="d-flex justify-content-center btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="{% url 'tasks:add-task' %}">
    <button type="button" class="btn btn-outline-primary">Add new task</button>
  </a>
  <a href="{% url 'tasks:done-task' %}">
    <button type="button" class="btn btn-outline-success">View done tasks</button>
  </a>
  <a href="{% url 'tasks:pending-task' %}">
    <button type="button" class="btn btn-outline-danger">View pending tasks</button>
  </a>
  <a href="{% url 'tasks:task-list' %}">
    <button type="button" class="btn btn-outline-warning">View all tasks</button>
  </a>
</div>

{% endblock nav%}


{% block body %}

<ul class="list-group text-center mt-5 d-flex justify-content-center w-75">
  {% for task in tasks %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between">
      <a href="{% url 'tasks:task-detail' task.slug %}" class="text-decoration-none text-body {% if task.done == True %}text-decoration-line-through{% endif %}">{{ task }}</a>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'tasks:edit-task' task.slug %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
              </svg>
              Edit
            </a></li>
            <li><a class="dropdown-item" href="{% url 'tasks:delete-task' task.slug %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z"/>
              </svg>
              Delete
            </a></li>
            {% if task.done %}
            <li><a class="dropdown-item" href="{% url 'tasks:toggle-task' task.slug %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z"/>
              </svg>
              Re-open
            </a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'tasks:toggle-task' task.slug %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
              </svg>
              Close
            </a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </li>
  {% empty %}
  <div class="text-center">
    <h4>{{title}}</h4>
    <a href="{% url 'tasks:add-task' %}">
      <button type="button" class="btn btn-outline-secondary w-30 ">Add a new task now +</button>
    </a>
  </div>
    
  {% endfor %}
</ul>

{% endblock body %}